@model List<PoliziaApp.Models.VerbaliPerPersona>

@{
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Nominativo</th>
            <th scope="col">Numero di verbali</th>


        </tr>
    </thead>
    <tbody>
        @foreach (VerbaliPerPersona verbale in Model)
        {
            <tr>
                <td>@verbale.Nome @verbale.Cognome</td>

                <td>@verbale.TotaleVerbali</td>
            </tr>

        }
    </tbody>
</table>